frontend/node_modules/
frontend/dist/index.min.js
frontend/dist/style.min.css
frontend/index.js
frontend/style.css
frontend/stockfish-nnue-16-single.js
frontend/stockfish-nnue-16-single.wasm

backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/